<section class='container text-center' id='index'>
  <h1>BILL GOOD</h1>

  <% @etchings.each do |etching| %>
    <%= link_to etching do %>
      <div class='etching col-md-4' style="background-image: url(<%= etching.prints.first.medium_url %>)">
        <h2><%= etching.title %></h2>
<!--         <p>Prints: <%= etching.prints.count %></p>
        <p>Short: <%= etching.short_description %></p>
        <p>Year: <%= etching.year %></p>
        <p>Long: <%= etching.long_description %></p>
        <p>Notes: <%= etching.notes %></p>
        <p>Height: <%= etching.height %>mm</p>
        <p>Width: <%= etching.width %>mm</p>
        <p>Plates: <%= etching.plates %></p>
        <p>Print run: <%= etching.print_run %></p>
        <p>Listed: <%= etching.listed %></p> -->
      </div>
    <% end %>
  <% end %>

</section>
