<div class='container' id="show">
  <div class='col-md-1'>
    <div class="spine">
      <%= link_to '', :etchings, class: "back arrow" %>
      <% if @next %>
        <%= link_to '', @next, class: "next arrow" %>
      <% end %>
      <% if @prev %>
        <%= link_to '', @prev, class: "prev arrow" %>
      <% end %>
    </div>
    <div class='mobile-info'>
      <%= render 'title_and_info' %>
    </div>

  </div>
  
  <div class='col-md-8 col-md-push-3 preview-container <%= @etching.orientation %>'>
    <div class='image-container'>
      <img class='medium' src="<%= @etching.prints.first.large_url %>" data-orientation="<%= @etching.orientation %>" />
        <div class="caption">
      </div>
    </div>
    <% if @etching.prints.count > 1 %>
      <div class="thumbnails">
        <% @etching.prints.each do |print| %>
        <a class="thumbnail-link">
          <img src="<%=print.medium_url%>" />
        </a>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class='description col-md-3 col-md-pull-8 col-md-offset-0 col-sm-offset-1 col-sm-10'>
    <div class='desktop-info'>
      <%= render 'title_and_info' %>
    </div>
    <p><%= @etching.long_description.try :html_safe %></p>
  </div>
</div>
