<div class='container' id="show">
  <div class='col-md-1'>
    <div class="spine">
      <%= link_to '', :etchings, class: "back arrow" %>
      <% if @next %>
        <%= link_to '', @next, class: "next arrow" %>
      <% end %>
      <% if @prev %>
        <%= link_to '', @prev, class: "prev arrow" %>
      <% end %>
    </div>
  </div>
  
  <div class='col-md-8 col-md-push-3 <%= @etching.orientation %>'>
    <img class='medium' src="<%= @etching.prints.first.medium_url %>" />
    <% if @etching.prints.count > 1 %>
      <div class="thumbnails">
        <% @etching.prints.each do |print| %>
        <a class="thumbnail-link">
          <img src="<%=print.medium_url%>" />
        </a>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class='description col-md-3 col-md-pull-8'>
    <h2><%= @etching.title %></h2>
    <ul>
      <li>
        <strong>Price:</strong> £<%= number_with_delimiter(@etching.price, :delimiter => ',') %> (unframed)
      </li>
      <li>
        <strong>Size:</strong> <%= "#{@etching.height} x #{@etching.width} mm"%>
      </li>
      <% if @etching.plates %>
        <li>
          <strong>Plates:</strong> <%= @etching.plates %>
        </li>
      <% end %>
      <li>
        <strong>Print run:</strong> <%= @etching.print_run %>
      </li>
      <p><%= @etching.long_description %></p>
    </ul>
  </div>
</div>
