<!DOCTYPE html>
<html>
<head>
  <title>Bill Good</title>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Oswald:700,400' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="application">

<%= yield %>

<header id="header-region"></header>
<section id="main-region"></section>
<footer id="footer"></footer>

<%= javascript_tag do %>
  $(function(){
    BG.start(); 
  });
<% end %>

</body>
<%= yield :script %>

<%= javascript_tag do %>

  BG.Data.etchings.add(<%= raw json_escape @etchings.to_json(include: [:prints, :themes]) %>);
  BG.Data.themes = new Backbone.Collection(<%= raw json_escape @themes.to_json(include: { etchings: {only: :id} }) %>);

<% end %>
</html>
