<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bill Good</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="application">

<%= yield %>

<header id="header-region"></header>
<section id="main-region"></section>
<footer id="footer"></footer>

<%= javascript_tag do %>
  $(function(){
    BG.start(); 
  });
<% end %>

</body>
<%= yield :script %>

<%= javascript_tag do %>

  BG.Data.etchings.add(<%= @etchings.to_json(include: [:prints, :themes]).html_safe %>);
  BG.Data.themes = new Backbone.Collection(<%= @themes.to_json(include: { etchings: {only: :id} }).html_safe %>);

<% end %>
</html>
