<!DOCTYPE html>
<html>
<head>
  <title>Bill Good</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="application">

<!-- <row> -->
<%= yield %>

<header id="header-region"></header>
<section id="main-region"></section>
<footer id="footer"></footer>

<%= javascript_tag do %>
  $(function(){
    BG.start(); 
  });
<% end %>

<!-- </row> -->

</body>
<%= yield :script %>
</html>
